<div class="content">
  
  <div class="title">
    <h1>Categoria</h1>
  </div>

  <button class="mat-elevation-z8" (click)="navegarParaCategoriaCreate()" mat-stroked-button color="primary"> NOVA CATEGORIA </button>

  <div class="mat-elevation-z8 content-table">
    <table class="table" mat-table [dataSource]="categorias">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>NOME</th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef>DESCRIÇÃO</th>
        <td mat-cell *matCellDef="let row">{{ row.descricao }}</td>
      </ng-container>

      <ng-container matColumnDef="livros">
        <th mat-header-cell *matHeaderCellDef>LIVROS</th>
        <td mat-cell *matCellDef="let row">
          <a class="livros" routerLink="{{ row.id }}/livros">
            <i class="material-icons">book</i>
          </a>
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
        <td mat-cell *matCellDef="let row">
          <a class="edit" routerLink="update/{{ row.id }}">
            <i class="material-icons">edit</i>
          </a>
          <a class="delete" routerLink="delete/{{ row.id }}">
            <i class="material-icons">delete</i>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
