img {
    height: 3rem;
}

.header {
    justify-content: center;
    height: 10%;
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1.2rem;
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}