<div class="content">
  
    <div class="title">
      <h1>LIVROS</h1>
    </div>
  
    <button class="mat-elevation-z8" (click)="navegarParaCriarLivro()" mat-stroked-button color="primary"> NOVO LIVRO </button>
  
    <div class="mat-elevation-z8 content-table">
      <table class="table" mat-table [dataSource]="livros" >
  
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let row">{{ row.id }}</td>
        </ng-container>
  
        <ng-container matColumnDef="titulo">
          <th mat-header-cell *matHeaderCellDef>TITULO</th>
          <td mat-cell *matCellDef="let row">{{ row.titulo }}</td>
        </ng-container>
  
        <ng-container matColumnDef="livros">
          <th mat-header-cell *matHeaderCellDef>LER LIVRO</th>
          <td mat-cell *matCellDef="let row">
            <a class="livros" routerLink="{{ row.id }}/read">
              <i class="material-icons">book</i>
            </a>
          </td>
        </ng-container>
  
        <!-- Symbol Column -->
        <ng-container matColumnDef="acoes">
          <th class="mat-header" mat-header-cell *matHeaderCellDef>AÇÕES</th>
          <td mat-cell *matCellDef="let row">
            <a class="edit" routerLink="{{ row.id }}/update">
              <i class="material-icons">edit</i>
            </a>
            <a class="delete" routerLink="{{ row.id }}/delete">
              <i class="material-icons">delete</i>
            </a>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
  