form {
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.form {
    width: 100%;
}

.buttons {
    width: 100%;
    text-align: start;
}

button {
    margin-right: .5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}